<div class="container text-center mt-5">
    <form>
        <div class="form-row align-items-center">
            <div class="col-8 offset-md-2">
                <input type="text" class="form-control mb-2" name="search_input_" id="search_input_"
                    [(ngModel)]="_stringToSearch" placeholder="Search by document, name or email..."
                    (keyup)="searchUsersByFields()">
            </div>
        </div>
    </form>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-2">Event User List</h4>
            <strong>
                <span class="navbar-text">
                    Number of attendees: {{numberAttendees}}
                </span>
            </strong>
            <h6 class="card-subtitle mt-2 text-muted"> </h6>
            <div class="card-text">
                <table class="table table-default table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Document</th>
                            <th scope="col">Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Status</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let asistent of this.AllAsistentes; let i_ = index">
                            <th scope="row"> {{i_+1}} </th>
                            <td> {{asistent.document}} </td>
                            <td> {{asistent.name}} </td>
                            <td> {{asistent.lastname}} </td>
                            <td> {{asistent.email}} </td>
                            <td> {{asistent.phone}} </td>
                            <td> {{asistent.status == true ? 'Active' : 'Inactive'}} </td>
                            <td>
                                <div>
                                    <button class="btn btn-primary mr-1"
                                        [routerLink]="['update',asistent._id]">Edit</button>
                                    <button class="btn btn-danger ml-1"
                                        (click)="deleteSomeUser(asistent)">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>